services:
  equi-arena-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL:-https://api.geofal.com.pe}
    expose:
      - "80"
    restart: always
    networks:
      - coolify

networks:
  coolify:
    external: true
